/* Variables Start */
:root {
  --font-color: #2198F0;
  --background-color : #ECECEC;
  --section-padding : 50px;
  --main-transition: 0.5s;
}
/* Variables End */
/* Global Rules Start */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Cairo', sans-serif;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small Screens */
  @media (min-width:768px) {
    .container {
      width: 750px;
    }
  }
  /* Mid Screens */
  @media (min-width:991px) {
    .container {
      width: 970px;
    }
  }
  /* Large Screens */
  @media (min-width:1199px) {
    .container {
      width: 1170px;
    }
  }
/* Global Rules End */
/* Components Start */

/* Components End */
/* Header Start */
  .header {
    /* if you changed ur body color later this color will stay white */
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    /* For The element u will move it and dont want it to get outside the of header */
    position: relative;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* in the resposive li will go down to the logo */
    flex-wrap: wrap;
    /* for the mega-menu u want the parent full header or container header only */
    position: relative;
  }
  .header .logo {
    color: var(--font-color);
    font-size: 25px;
    font-weight: bold;
    /* logo height is the same of the header height so if u change ul size the header will have the same height and not effect*/
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .main-nav {
    display: flex;
  }
  /* Direct selector will make u avoid the problem of the mega menu li a in side the main ul */
  .header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Same Height as header For the fill effect*/
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    transition: var(--main-transition);
  }
/* Header End */
